In [1]:
import pandas as pd
import numpy as np

In [2]:
heroes_data = "../Resources/purchase_data.csv"
purchase_data = pd.read_csv(heroes_data)

In [3]:
purchase_data_df = purchase_data
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
purchase_data_df["SN"].value_counts()

Lisosia93       5
Iral74          4
Idastidru52     4
Sondastsda82    3
Iri67           3
               ..
Dyally87        1
Assehoan67      1
Chamistast30    1
Lisassa64       1
Eusur90         1
Name: SN, Length: 576, dtype: int64

In [5]:
playercount_df = pd.DataFrame({"Total Players" : [576]})
playercount_df

   Total Players
0            576

In [6]:
unique_count = purchase_data_df["Item Name"].value_counts()
unique_count

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Persuasion                                       9
Nirvana                                          9
Extraction, Quickblade Of Trembling Hands        9
                                                ..
Exiled Mithril Longsword                         1
Celeste                                          1
Riddle, Tribute of Ended Dreams                  1
Ghost Reaver, Longsword of Magic                 1
Endbringer                                       1
Name: Item Name, Length: 179, dtype: int64

In [7]:
avg_price = purchase_data_df["Price"].mean()
purchase_num = purchase_data_df["Purchase ID"].count()
revenue = purchase_data_df["Price"].sum()
purchasing_anal_df = pd.DataFrame({"Number of Unique Items" : [179], "Average Price" : [avg_price], "Number of Purchases": [purchase_num], "Total Revenue" : [revenue]})
purchasing_anal_df["Average Price"] = purchasing_anal_df["Average Price"].astype(float).map(
    "${:,.2f}".format)
purchasing_anal_df["Total Revenue"] = purchasing_anal_df["Total Revenue"].astype(float).map(
    "${:,.2f}".format)
purchasing_anal_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [8]:
unique_SN_df = purchase_data.drop_duplicates(subset=['SN'])

In [9]:
female_groups = unique_SN_df.loc[unique_SN_df["Gender"] == "Female", "Purchase ID"].count()
male_groups=unique_SN_df.loc[unique_SN_df["Gender"] == "Male", "Purchase ID"].count()
other_groups= unique_SN_df.loc[unique_SN_df["Gender"]== "Other / Non-Disclosed", "Purchase ID"].count()
gendered_df = pd.DataFrame({"Total Count" : [female_groups, male_groups, other_groups], "Gender" : ["Female", "Male", "Other"]})

In [10]:
gender_df = gendered_df.set_index("Gender") 
gender_df.index.name = None
gender_df["Percentage of Players"] = (gender_df['Total Count'] / 576).astype(float).map(
    "{:,.2%}".format)
gender_df

        Total Count Percentage of Players
Female           81                14.06%
Male            484                84.03%
Other            11                 1.91%

In [22]:
reduced_data_df = purchase_data_df[["Gender", "Price", "Purchase ID"]]
female_avg = reduced_data_df.loc[purchase_data_df["Gender"] == "Female", "Price"].mean()
male_avg=reduced_data_df.loc[purchase_data_df["Gender"] == "Male", "Price"].mean()
other_avg= reduced_data_df.loc[purchase_data_df["Gender"]== "Other / Non-Disclosed", "Price"].mean()

In [23]:
female_total = reduced_data_df.loc[purchase_data_df["Gender"] == "Female", "Price"].sum()
male_total=reduced_data_df.loc[purchase_data_df["Gender"] == "Male", "Price"].sum()
other_total= reduced_data_df.loc[purchase_data_df["Gender"]== "Other / Non-Disclosed", "Price"].sum()

In [24]:
ppp_female= (female_total/female_groups)
ppp_male= (male_total/male_groups)
ppp_other= (other_total/other_groups)

In [25]:
female_group = reduced_data_df.loc[purchase_data_df["Gender"] == "Female", "Purchase ID"].count()
male_group=reduced_data_df.loc[purchase_data_df["Gender"] == "Male", "Purchase ID"].count()
other_group= reduced_data_df.loc[purchase_data_df["Gender"]== "Other / Non-Disclosed", "Purchase ID"].count()

In [28]:
gender_purchasing_df = pd.DataFrame({"Purchase Count" : [female_group, male_group, other_group], "Gender" : ["Female", "Male", "Other"], "Average Purchase Price" : [female_avg, male_avg, other_avg], "Total Purchase Value" : [female_total, male_total, other_total], "Avg Total Purchase per Person" : [ppp_female, ppp_male, ppp_other]})
gender_purchasing2_df = gender_purchasing_df.set_index("Gender")
gender_purchasing2_df["Average Purchase Price"] = gender_purchasing2_df["Average Purchase Price"].astype(float).map(
    "${:,.2f}".format)
gender_purchasing2_df["Total Purchase Value"] = gender_purchasing2_df["Total Purchase Value"].astype(float).map(
    "${:,.2f}".format)
gender_purchasing2_df["Avg Total Purchase per Person"] = gender_purchasing2_df["Avg Total Purchase per Person"].astype(float).map(
    "${:,.2f}".format)
gender_purchasing2_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other,15,$3.35,$50.19,$4.56

In [29]:
bins = [0, 10, 14, 19, 24, 29, 34, 39, 100]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-40", "40+"]
pd.cut(purchase_data_df["Age"], bins, labels=group_labels)
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=group_labels)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24