In [1]:
import pandas as pd

In [2]:
heroes_data = "../Resources/purchase_data.csv"
purchase_data = pd.read_csv(heroes_data)

In [3]:
purchase_data_df = purchase_data
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
purchase_data_df["SN"].value_counts()

Lisosia93       5
Idastidru52     4
Iral74          4
Aina42          3
Lassilsala30    3
               ..
Haestyphos66    1
Iljask75        1
Lirtilsa71      1
Lisossanya98    1
Haellysu29      1
Name: SN, Length: 576, dtype: int64

In [5]:
playercount_df = pd.DataFrame({"Total Players" : [576]})
playercount_df

   Total Players
0            576

In [6]:
unique_count = purchase_data_df["Item Name"].value_counts()
unique_count

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Nirvana                                          9
Persuasion                                       9
Extraction, Quickblade Of Trembling Hands        9
                                                ..
The Decapitator                                  1
Exiled Mithril Longsword                         1
Ghost Reaver, Longsword of Magic                 1
Betrayer                                         1
Endbringer                                       1
Name: Item Name, Length: 179, dtype: int64

In [7]:
avg_price = purchase_data_df["Price"].mean()
purchase_num = purchase_data_df["Purchase ID"].count()
revenue = purchase_data_df["Price"].sum()
purchasing_anal_df = pd.DataFrame({"Number of Unique Items" : [179], "Average Price" : [avg_price], "Number of Purchases": [purchase_num], "Total Revenue" : [revenue]})
purchasing_anal_df["Average Price"] = purchasing_anal_df["Average Price"].astype(float).map(
    "${:,.2f}".format)
purchasing_anal_df["Total Revenue"] = purchasing_anal_df["Total Revenue"].astype(float).map(
    "${:,.2f}".format)
purchasing_anal_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [8]:
unique_SN_df = purchase_data.drop_duplicates(subset=['SN'])

In [9]:
female_groups = unique_SN_df.loc[unique_SN_df["Gender"] == "Female", "Purchase ID"].count()
male_groups=unique_SN_df.loc[unique_SN_df["Gender"] == "Male", "Purchase ID"].count()
other_groups= unique_SN_df.loc[unique_SN_df["Gender"]== "Other / Non-Disclosed", "Purchase ID"].count()
gendered_df = pd.DataFrame({"Total Count" : [female_groups, male_groups, other_groups], "Gender" : ["Female", "Male", "Other"]})

In [10]:
gender_df = gendered_df.set_index("Gender") 
gender_df["Percentage of Player"] = (gender_df['Total Count'] / 576).astype(float).map(
    "{:,.2%}".format)

In [11]:
gender_df

        Total Count Percentage of Player
Gender
Female           81               14.06%
Male            484               84.03%
Other            11                1.91%