In [1]:
import pandas as pd
import numpy as np

In [2]:
heroes_data = "../Resources/purchase_data.csv"
purchase_data = pd.read_csv(heroes_data)

In [3]:
purchase_data_df = purchase_data
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
purchase_data_df["SN"].value_counts()

Lisosia93      5
Idastidru52    4
Iral74         4
Phaena87       3
Iri67          3
              ..
Frichast28     1
Marughi89      1
Alaesu77       1
Lisadar44      1
Cosadar58      1
Name: SN, Length: 576, dtype: int64

In [5]:
playercount_df = pd.DataFrame({"Total Players" : [576]})
playercount_df

   Total Players
0            576

In [6]:
unique_count = purchase_data_df["Item Name"].value_counts()
unique_count

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Persuasion                                       9
Extraction, Quickblade Of Trembling Hands        9
Nirvana                                          9
                                                ..
Exiled Mithril Longsword                         1
Celeste                                          1
The Decapitator                                  1
Betrayer                                         1
Riddle, Tribute of Ended Dreams                  1
Name: Item Name, Length: 179, dtype: int64

In [7]:
avg_price = purchase_data_df["Price"].mean()
purchase_num = purchase_data_df["Purchase ID"].count()
revenue = purchase_data_df["Price"].sum()
purchasing_anal_df = pd.DataFrame({"Number of Unique Items" : [179], "Average Price" : [avg_price], "Number of Purchases": [purchase_num], "Total Revenue" : [revenue]})
purchasing_anal_df["Average Price"] = purchasing_anal_df["Average Price"].astype(float).map(
    "${:,.2f}".format)
purchasing_anal_df["Total Revenue"] = purchasing_anal_df["Total Revenue"].astype(float).map(
    "${:,.2f}".format)
purchasing_anal_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [8]:
unique_SN_df = purchase_data.drop_duplicates(subset=['SN'])

In [9]:
female_groups = unique_SN_df.loc[unique_SN_df["Gender"] == "Female", "Purchase ID"].count()
male_groups=unique_SN_df.loc[unique_SN_df["Gender"] == "Male", "Purchase ID"].count()
other_groups= unique_SN_df.loc[unique_SN_df["Gender"]== "Other / Non-Disclosed", "Purchase ID"].count()
gendered_df = pd.DataFrame({"Total Count" : [female_groups, male_groups, other_groups], "Gender" : ["Female", "Male", "Other"]})

In [10]:
gender_df = gendered_df.set_index("Gender") 
gender_df.index.name = None
gender_df["Percentage of Players"] = (gender_df['Total Count'] / 576).astype(float).map(
    "{:,.2%}".format)
gender_df

        Total Count Percentage of Players
Female           81                14.06%
Male            484                84.03%
Other            11                 1.91%

In [11]:
reduced_data_df = purchase_data_df[["Gender", "Price", "Purchase ID"]]
female_avg = reduced_data_df.loc[purchase_data_df["Gender"] == "Female", "Price"].mean()
male_avg=reduced_data_df.loc[purchase_data_df["Gender"] == "Male", "Price"].mean()
other_avg= reduced_data_df.loc[purchase_data_df["Gender"]== "Other / Non-Disclosed", "Price"].mean()

In [12]:
female_total = reduced_data_df.loc[purchase_data_df["Gender"] == "Female", "Price"].sum()
male_total=reduced_data_df.loc[purchase_data_df["Gender"] == "Male", "Price"].sum()
other_total= reduced_data_df.loc[purchase_data_df["Gender"]== "Other / Non-Disclosed", "Price"].sum()

In [13]:
ppp_female= (female_total/female_groups)
ppp_male= (male_total/male_groups)
ppp_other= (other_total/other_groups)

In [14]:
female_group = reduced_data_df.loc[purchase_data_df["Gender"] == "Female", "Purchase ID"].count()
male_group=reduced_data_df.loc[purchase_data_df["Gender"] == "Male", "Purchase ID"].count()
other_group= reduced_data_df.loc[purchase_data_df["Gender"]== "Other / Non-Disclosed", "Purchase ID"].count()

In [15]:
gender_purchasing_df = pd.DataFrame({"Purchase Count" : [female_group, male_group, other_group], "Gender" : ["Female", "Male", "Other"], "Average Purchase Price" : [female_avg, male_avg, other_avg], "Total Purchase Value" : [female_total, male_total, other_total], "Avg Total Purchase per Person" : [ppp_female, ppp_male, ppp_other]})
gender_purchasing2_df = gender_purchasing_df.set_index("Gender")
gender_purchasing2_df["Average Purchase Price"] = gender_purchasing2_df["Average Purchase Price"].astype(float).map(
    "${:,.2f}".format)
gender_purchasing2_df["Total Purchase Value"] = gender_purchasing2_df["Total Purchase Value"].astype(float).map(
    "${:,.2f}".format)
gender_purchasing2_df["Avg Total Purchase per Person"] = gender_purchasing2_df["Avg Total Purchase per Person"].astype(float).map(
    "${:,.2f}".format)
gender_purchasing2_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other,15,$3.35,$50.19,$4.56

In [16]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=group_labels, include_lowest=True)

In [17]:
reduced_agedata_df = purchase_data_df[["Age Group", "Purchase ID"]]
reduced_agedata_df = purchase_data.drop_duplicates(subset=['SN'])

In [18]:
underten_total = reduced_agedata_df.loc[reduced_agedata_df["Age Group"] == "<10", "Purchase ID"].count()
ten_to_fifteen= reduced_agedata_df.loc[reduced_agedata_df["Age Group"] == "10-14", "Purchase ID"].count()
fifteen_twenty= reduced_agedata_df.loc[reduced_agedata_df["Age Group"] == "15-19", "Purchase ID"].count()
twenty_five= reduced_agedata_df.loc[reduced_agedata_df["Age Group"] == "20-24", "Purchase ID"].count()
five_thirty= reduced_agedata_df.loc[reduced_agedata_df["Age Group"] == "25-29", "Purchase ID"].count()
thirty_five= reduced_agedata_df.loc[reduced_agedata_df["Age Group"] == "30-34", "Purchase ID"].count()
five_forty= reduced_agedata_df.loc[reduced_agedata_df["Age Group"] == "35-39", "Purchase ID"].count()
forty_plus= reduced_agedata_df.loc[reduced_agedata_df["Age Group"] == "40+", "Purchase ID"].count()

In [19]:
age_demo_df = pd.DataFrame({ "Age Group" : ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"], "Total Count" : [underten_total, ten_to_fifteen, fifteen_twenty, twenty_five, five_thirty, thirty_five, five_forty, forty_plus]})
age_demo_df = age_demo_df.set_index("Age Group") 
age_demo_df["Percentage of Players"] = (age_demo_df["Total Count"]/576).astype(float).map(
    "{:,.2%}".format)
age_demo_df.index.name = None
age_demo_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [20]:
reduced_data_df = purchase_data_df[["Purchase ID", "Price", "Age Group"]]
ten_total = reduced_data_df.loc[reduced_data_df["Age Group"] == "<10", "Purchase ID"].count()
fifteen_total= reduced_data_df.loc[reduced_data_df["Age Group"] == "10-14", "Purchase ID"].count()
twenty_total= reduced_data_df.loc[reduced_data_df["Age Group"] == "15-19", "Purchase ID"].count()
twentyfive_total= reduced_data_df.loc[reduced_data_df["Age Group"] == "20-24", "Purchase ID"].count()
thirty_total= reduced_data_df.loc[reduced_data_df["Age Group"] == "25-29", "Purchase ID"].count()
thirtyfive_total= reduced_data_df.loc[reduced_data_df["Age Group"] == "30-34", "Purchase ID"].count()
forty_total= reduced_data_df.loc[reduced_data_df["Age Group"] == "35-39", "Purchase ID"].count()
fortyplus_total= reduced_data_df.loc[reduced_data_df["Age Group"] == "40+", "Purchase ID"].count()
pricetotal_10 = reduced_data_df.loc[reduced_data_df["Age Group"] == "<10", "Price"].sum()
pricetotal_15= reduced_data_df.loc[reduced_data_df["Age Group"] == "10-14", "Price"].sum()
pricetotal_20= reduced_data_df.loc[reduced_data_df["Age Group"] == "15-19", "Price"].sum()
pricetotal_25= reduced_data_df.loc[reduced_data_df["Age Group"] == "20-24", "Price"].sum()
pricetotal_30= reduced_data_df.loc[reduced_data_df["Age Group"] == "25-29", "Price"].sum()
pricetotal_35= reduced_data_df.loc[reduced_data_df["Age Group"] == "30-34", "Price"].sum()
pricetotal_40= reduced_data_df.loc[reduced_data_df["Age Group"] == "35-39", "Price"].sum()
pricetotal_plus= reduced_data_df.loc[reduced_data_df["Age Group"] == "40+", "Price"].sum()
avg_10 = reduced_data_df.loc[reduced_data_df["Age Group"] == "<10", "Price"].mean()
avg_15 = reduced_data_df.loc[reduced_data_df["Age Group"] == "10-14", "Price"].mean()
avg_20 = reduced_data_df.loc[reduced_data_df["Age Group"] == "15-19", "Price"].mean()
avg_25 = reduced_data_df.loc[reduced_data_df["Age Group"] == "20-24", "Price"].mean()
avg_30 = reduced_data_df.loc[reduced_data_df["Age Group"] == "25-29", "Price"].mean()
avg_35 = reduced_data_df.loc[reduced_data_df["Age Group"] == "30-34", "Price"].mean()
avg_40 = reduced_data_df.loc[reduced_data_df["Age Group"] == "35-39", "Price"].mean()
avg_plus = reduced_data_df.loc[reduced_data_df["Age Group"] == "40+", "Price"].mean()
pp10= (pricetotal_10 / underten_total)
pp15= (pricetotal_15 / ten_to_fifteen)
pp20= (pricetotal_20 / fifteen_twenty)
pp25= (pricetotal_25/ twenty_five)
pp30= (pricetotal_30/ five_thirty)
pp35= (pricetotal_35 / thirty_five)
pp40= (pricetotal_40/ five_forty)
ppplus= (pricetotal_plus/forty_plus)
new_age_dem_df = pd.DataFrame({"Age Group" : ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"], "Purchase Count": [ten_total, fifteen_total, twenty_total, twentyfive_total, thirty_total, thirtyfive_total, forty_total, fortyplus_total], 
                              "Total Purchase Value" : [pricetotal_10, pricetotal_15, pricetotal_20, pricetotal_25, pricetotal_30, pricetotal_35, pricetotal_40, pricetotal_plus],
                              "Average Purchase Price" : [avg_10, avg_15, avg_20, avg_25, avg_30, avg_35, avg_40, avg_plus],
                              "Avg Total Purchase per Person" : [pp10, pp15, pp20, pp25, pp30, pp35, pp40, ppplus]})

In [21]:
new_age_dem_df["Total Purchase Value"] = new_age_dem_df["Total Purchase Value"].astype(float).map(
    "${:,.2f}".format)
new_age_dem_df["Average Purchase Price"] = new_age_dem_df["Average Purchase Price"].astype(float).map(
    "${:,.2f}".format)
new_age_dem_df["Avg Total Purchase per Person"] = new_age_dem_df["Avg Total Purchase per Person"].astype(float).map(
    "${:,.2f}".format)

In [22]:
new_age_dem_df = new_age_dem_df.rename(columns={"Age Group": "Age Ranges"})
new_age_dem_df = new_age_dem_df.set_index("Age Ranges")
new_age_dem_df

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$77.13,$3.35,$4.54
10-14,28,$82.78,$2.96,$3.76
15-19,136,$412.89,$3.04,$3.86
20-24,365,"$1,114.06",$3.05,$4.32
25-29,101,$293.00,$2.90,$3.81
30-34,73,$214.00,$2.93,$4.12
35-39,41,$147.67,$3.60,$4.76
40+,13,$38.24,$2.94,$3.19